# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente
.env
.env.*

# Banco de dados local
*.db
instance/
*.sqlite
*.sqlite3

# Logs
*.log

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/

# Arquivos temporários
*.tmp
*.temp